$primary-color: #fff;
$secondary-color: #262524;
$primary-width: 1200px;

@mixin flex-box-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-box-end {
  display: flex;
  justify-content: flex-end;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $secondary-color;
  background-image: url(images/black-grind.png);
  background-repeat: repeat;
}

.main-content {
  width: $primary-width;
  margin: auto;
  margin-top: 50px;
}

.header {
  width: $primary-width;
  height: 80px;
  @include flex-box-center;
  background-color: $primary-color;
}

.left-text-content__new:hover,
.center-text-content__selected:hover,
.center-text-content__about:hover,
.right-text-content__the-story:hover,
.right-text-content__connect:hover,
.aside__text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header__left-text-content {
  list-style: none;
  width: 200px;
  padding-left: 15px;
}

.header__center-text-content {
  list-style: none;
  width: 150px;
  @include flex-box-center;
  column-gap: 9px;
}

.header__right-text-content {
  list-style: none;
  padding-right: 30px;
  @include flex-box-center;
  column-gap: 9px;
}

.main {
  width: $primary-width;
  height: 530px;
  display: flex;
  background-color: $primary-color;
}

.aside {
  height: 530px;
  @include flex-box-center;
  background-color: $primary-color;
}

.aside__text {
  transform: rotate(-90deg);
}

.photo-section__title {
  width: 1142px;
  text-align: center;
  background-color: $primary-color;
}

.photo-section__heading {
  margin: 25px;
  font-size: 30px;
}

.photo-section__paragraph {
  font-size: 20px;
}

.prev-arrow:hover, .next-arrow:hover {
  transform: scale(1.2);
}

.photo-section__manipulation {
  @include flex-box-end;
  column-gap: 9px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.photo-section__list {
  width: 1143px;
  overflow: hidden;
}

.photo-section__slider{ 
  width: 2200px;
  display: flex;
  transition: transform 350ms;
}

.photo-section__element {
  width: 300px;
  height: 400px;
  flex-shrink: 0;
}
