$primary-color: #fff;
$secondary-color: #262524;
$primary-width: 1200px;

@mixin flex-box-center {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@mixin flex-box-end {
  display: flex;
  justify-content: flex-end;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
  background-image: url('images/black-grind.png');
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.main-content {
  margin: auto;
  margin-top: 50px;
  width: $primary-width;
}

.left-text-content__new:hover,
.center-text-content__selected:hover,
.center-text-content__about:hover,
.right-text-content__the-story:hover,
.right-text-content__connect:hover,
.aside__text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header {
  @include flex-box-center;
  background-color: $primary-color;
  height: 80px;
  width: $primary-width;

  &__left-text-content {
    list-style: none;
    padding-left: 15px;
    width: 200px;
  }

  &__center-text-content {
    @include flex-box-center;
    column-gap: 9px;
    list-style: none;
    width: 150px;
  }

  &__right-text-content {
    @include flex-box-center;
    column-gap: 9px;
    list-style: none;
    padding-right: 30px;
  }
}

.main {
  background-color: $primary-color;
  display: flex;
  height: 530px;
  width: $primary-width;
}

.aside {
  @include flex-box-center;
  background-color: $primary-color;
  height: 530px;

  &__text {
    transform: rotate(-90deg);
  }
}

.photo-section {
  &__title {
    background-color: $primary-color;
    text-align: center;
    width: 1142px;
  }

  &__heading {
    font-size: 30px;
    margin: 25px;
  }

  &__paragraph {
    font-size: 20px;
  }

  &__manipulation {
    @include flex-box-end;
    column-gap: 9px;
    padding-bottom: 10px;
    padding-right: 20px;
  }

  &__list {
    background-color: #000;
    overflow: hidden;
    width: 1143px;
  }

  &__slider {
    display: flex;
    transition: transform 350ms;
    width: 9999px;
  }

  &__element:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &__element {
    flex-shrink: 0;
    height: 400px;
    opacity: 1;
    transition: opacity 200ms ease;
    width: 300px; 
  }
}

.prev-arrow:hover,
.next-arrow:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.photo-element-center {
  animation: image-appearance 240ms ease;
  bottom: 0;
  box-shadow: 0 0 10px #000;
  height: 600px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 450px;
}

@keyframes image-appearance {
  0% {
    opacity: 0;
  }

  25%{
    opacity: .25;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}

.hide-arrow {
  visibility: hidden;
}
